<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/angular")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
